.card-list {
  margin-top: 20px;
}

.custom-card {
  display: flex;
  flex-direction: row; 
  align-items: center;
  border: 2px solid #3d3d3d;
  padding: 10px;
  background-color: white;
  margin:10px 0px 10px 0px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.flag-img {
  width: 127px;
  height: 96px;
  object-fit: cover;
  border-radius: 6px;
}

.card-text {
  display: flex;
  flex-direction: column; 
  margin-left: 10px;
}

.country-name {
  font-size: 24px;
  font-weight: 600;
  color:#3D3D3D;
  margin: 0;
}

.country-region {
  font-size: 16px;
  color: #6F6F6F;
  font-size: 16px;
  margin: 2px 0 0 0;
}
.load-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}