.custom-input {
  border: 2px solid #3e3e3e !important;
  padding: 2px 8px !important;
  border-radius: 0 !important;
  color: #3e3e3e !important;
  width: 280px !important;
  height: 48px !important;
  padding-right: 40px !important;
}

.custom-input::placeholder {
  color: #3e3e3e !important;
  font-weight: 600;
  font-size: 16px;
}

.custom-input:focus {
  outline: none !important;
  box-shadow: none !important;
  border-color: #3e3e3e !important;
}
.is-invalid ~ .invalid-feedback,
.is-invalid ~ .invalid-tooltip,
.was-validated :invalid ~ .invalid-feedback,
.was-validated :invalid ~ .invalid-tooltip {
  display: block;
  width: 280px;
}
